{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}


{% block titulo %}Alta de datos - Resultado{% endblock %}

{% block botones %}
    <form method="post" action="/cliente/save_cliente/">{% csrf_token %}
    <button type="button" onclick="javascript:window.location =('/cliente/')">
        <span class="glyphicon-arrow-left"
            title="Pantalla anterior" style="font-size:30px"></span>
    </button>
    </form>
{% endblock %}

{% block datos %}
    <div class='mensajes' align="center">
        <div class="divOk">
            El registro ha sido grabado.
        </div>
    </div>
{% endblock %}
