{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}


{% block titulo %}Agenda - Busqueda{% endblock %}

{% block botones %}
    <form method=post action="/cliente/search_cliente/">
        <input type=search results=5 name=s>
    </form>
    <form method=post action="/cliente/append_cliente/">
        <button type=button onclick="window.location=('/cliente/')" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-arrow-left" title="Pantalla anterior" style="font-size:30px"></span>
        </button>
        <button type=submit class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-edit" title="Alta de datos" style="font-size:30px"></span>
        </button>
    </form>
{% endblock %}

{% block datos %}
    {% if error_message %}
        <div class="alert alert-danger text-center"><b>{{ error_message }}</b></div>
    {% else %}
    <table>
        <tr>
            <td>
                <div class='info'>
                    <div class="more" align="right">
                        <img src="{% static "more_property.png" %}" width="15px">
                    </div>
                    <table>
                        <tr>
                            <td>
                                <span style='margin:10px'>{{ posts.nombre }}</span><br>
                                <span style='margin:30px;'>{{ posts.apellido }}</span><br>
                                <span style='margin:30px;'>{{ posts.fechaNacimiento }}</span><br>
                                <span style='margin:30px;'>{{ posts.provincia }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
            </td>
        <tr>
    </table>
    {% endif %}
{% endblock %}
