/* CSS  base.html */

/* Código inicial en base.html */

@charset "utf-8";
@import url(//fonts.googleapis.com/css?family="Ubuntu"); *{font-family:"Ubuntu"}


body{
    font-size: 16px;
    background:url(//subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png) no-repeat center center fixed;
    background-color:transparent;-webkit-background-size:cover;
    -moz-background-size:cover;-o-background-size:cover;background-size:cover
}

label{ font-size: 18px }

input{
    border: 1px solid #B6ACAC;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.input-large{
    height: 44px !important;
    font-size: 18px !important
}

.footer{
    position: absolute;
    width: 100%;
    min-height: 75px;
    bottom: 0;
    background:
    linear-gradient(135deg, #f5f5f5 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #f5f5f5 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #f5f5f5;
    background-size: 64px 128px;
    border-top: 2px dotted gray
}

/* Código inline encontrado en base.html */
.djcontent{ padding-top:75px }

.form-vertical{
    /* Old code comented */
    /*max-width:75%;margin-left:20px*/
}
