{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block titulo %}Alta de datos{% endblock %}


{% block botones %}
    <form method=post role=form action="/agenda/save_agenda/">
        <input type=hidden name=id value="{{ posts.id }}">
        <button type=button onclick="window.location=('/agenda/')" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-arrow-left" title="Pantalla anterior" style="font-size:30px"></span>
        </button>
       <button type=reset class="btn btn-lg btn-warning">
           <span class="glyphicon glyphicon-remove-circle" title="Cancelar alta de datos" style="font-size:30px"></span>
       </button>
       &nbsp;&nbsp;&nbsp;
       <button type=submit class="btn btn-lg btn-success">
           <span class="glyphicon glyphicon-floppy-save" title="Guardar los datos" style="font-size:30px"></span>
       </button>
{% endblock %}


{% block datos %}
    <div class="form-group text-center">
        <label for=razonNombreApellido>Razon o Nombre y Apellido</label>
        <input type=text name="razonNombreApellido"
            id="razonNombreApellido" value="{{ posts.razonNombreApellido }}"
                size=100 required>
    </div>
    <div class="form-group text-center">
        <label for=calle>Calle</label>
        <input type=text name=calle value="{{ posts.calle }}" required>
        <label for=numero>Numero</label>
        <input type=number name=numero value="{{ posts.numero }}"
            maxlength=10 size=5 required>
        <label for=piso>Piso</label>
        <input type=text name=piso value="{{ posts.piso }}">
    </div>
    <div class="form-group text-center">
        <label for=ciudad>Ciudad</label>
        <input type=text name=ciudad value="{{ posts.ciudad }}" required>
        <label for=provincia>Provincia</label>
        <select name=provincia>
            <option {% ifequal posts.provincia  "Buenos Aires" %}selected{% endifequal %} value="Buenos Aires">Buenos Aires
            <option {% ifequal posts.provincia  "CABA" %}selected{% endifequal %} value="CABA">CABA
            <option {% ifequal posts.provincia  "Buenos Aires" %}selected{% endifequal %} value="Catamarca">Catamarca
            <option {% ifequal posts.provincia  "Catamarca" %}selected{% endifequal %} value="Chaco">Chaco
            <option {% ifequal posts.provincia  "Chubut" %}selected{% endifequal %} value="Chubut">Chubut
            <option {% ifequal posts.provincia  "Cordoba" %}selected{% endifequal %} value="Cordoba">Cordoba
            <option {% ifequal posts.provincia  "Corrientes" %}selected{% endifequal %} value="Corrientes">Corrientes
            <option {% ifequal posts.provincia  "Entre Rios" %}selected{% endifequal %} value="Entre Rios">Entre Rios
            <option {% ifequal posts.provincia  "Formosa" %}selected{% endifequal %} value="Formosa">Formosa
            <option {% ifequal posts.provincia  "Jujuy" %}selected{% endifequal %} value="Jujuy">Jujuy
            <option {% ifequal posts.provincia  "La Pampa" %}selected{% endifequal %} value="La Pampa">La Pampa
            <option {% ifequal posts.provincia  "La Rioja" %}selected{% endifequal %} value="La Rioja">La Rioja
            <option {% ifequal posts.provincia  "Mendoza" %}selected{% endifequal %} value="Mendoza">Mendoza
            <option {% ifequal posts.provincia  "Misiones" %}selected{% endifequal %} value="Misiones">Misiones
            <option {% ifequal posts.provincia  "Neuquen" %}selected{% endifequal %} value="Neuquen">Neuquen
            <option {% ifequal posts.provincia  "Rio Negro" %}selected{% endifequal %} value="Rio Negro">Rio Negro
            <option {% ifequal posts.provincia  "Salta" %}selected{% endifequal %} value="Salta">Salta
            <option {% ifequal posts.provincia  "San Juan" %}selected{% endifequal %} value="San Juan">San Juan
            <option {% ifequal posts.provincia  "San Luis" %}selected{% endifequal %} value="San Luis">San Luis
            <option {% ifequal posts.provincia  "Santa Cruz" %}selected{% endifequal %} value="Santa Cruz">Santa Cruz
            <option {% ifequal posts.provincia  "Santa Fe" %}selected{% endifequal %} value="Santa Fe">Santa Fe
            <option {% ifequal posts.provincia  "Santiago del Estero" %}selected{% endifequal %} value="Santiago del Estero">Santiago del Estero
            <option {% ifequal posts.provincia  "Tierra del Fuego" %}selected{% endifequal %} value="Tierra del Fuego">Tierra del Fuego
            <option {% ifequal posts.provincia  "Tucuman" %}selected{% endifequal %} value="Tucuman">Tucuman
            <option {% ifequal posts.provincia  "Exterior" %}selected{% endifequal %} value="Exterior">Exterior
        </select>
        <label for=pais>Pais</label>
        <select name=pais>
              <option {% ifequal posts.pais  "AF" %}selected{% endifequal %} value="AF">Afganistán
              <option {% ifequal posts.pais  "AL" %}selected{% endifequal %} value="AL">Albania
              <option {% ifequal posts.pais  "DE" %}selected{% endifequal %} value="DE">Alemania
              <option {% ifequal posts.pais  "AD" %}selected{% endifequal %} value="AD">Andorra
              <option {% ifequal posts.pais  "AO" %}selected{% endifequal %} value="AO">Angola
              <option {% ifequal posts.pais  "AI" %}selected{% endifequal %} value="AI">Anguilla
              <option {% ifequal posts.pais  "AQ" %}selected{% endifequal %} value="AQ">Antártida
              <option {% ifequal posts.pais  "AG" %}selected{% endifequal %} value="AG">Antigua y Barbuda
              <option {% ifequal posts.pais  "AN" %}selected{% endifequal %} value="AN">Antillas Holandesas
              <option {% ifequal posts.pais  "SA" %}selected{% endifequal %} value="SA">Arabia Saudí
              <option {% ifequal posts.pais  "DZ" %}selected{% endifequal %} value="DZ">Argelia
              <option {% ifequal posts.pais  "AR" %}selected{% endifequal %} value="AR">Argentina
              <option {% ifequal posts.pais  "AM" %}selected{% endifequal %} value="AM">Armenia
              <option {% ifequal posts.pais  "AW" %}selected{% endifequal %} value="AW">Aruba
              <option {% ifequal posts.pais  "AU" %}selected{% endifequal %} value="AU">Australia
              <option {% ifequal posts.pais  "AT" %}selected{% endifequal %} value="AT">Austria
              <option {% ifequal posts.pais  "AZ" %}selected{% endifequal %} value="AZ">Azerbaiyán
              <option {% ifequal posts.pais  "BS" %}selected{% endifequal %} value="BS">Bahamas
              <option {% ifequal posts.pais  "BH" %}selected{% endifequal %} value="BH">Bahrein
              <option {% ifequal posts.pais  "BD" %}selected{% endifequal %} value="BD">Bangladesh
              <option {% ifequal posts.pais  "BB" %}selected{% endifequal %} value="BB">Barbados
              <option {% ifequal posts.pais  "BE" %}selected{% endifequal %} value="BE">Bélgica
              <option {% ifequal posts.pais  "BZ" %}selected{% endifequal %} value="BZ">Belice
              <option {% ifequal posts.pais  "BJ" %}selected{% endifequal %} value="BJ">Benin
              <option {% ifequal posts.pais  "BM" %}selected{% endifequal %} value="BM">Bermudas
              <option {% ifequal posts.pais  "BY" %}selected{% endifequal %} value="BY">Bielorrusia
              <option {% ifequal posts.pais  "MM" %}selected{% endifequal %} value="MM">Birmania
              <option {% ifequal posts.pais  "BO" %}selected{% endifequal %} value="BO">Bolivia
              <option {% ifequal posts.pais  "BA" %}selected{% endifequal %} value="BA">Bosnia y Herzegovina
              <option {% ifequal posts.pais  "BW" %}selected{% endifequal %} value="BW">Botswana
              <option {% ifequal posts.pais  "BR" %}selected{% endifequal %} value="BR">Brasil
              <option {% ifequal posts.pais  "BN" %}selected{% endifequal %} value="BN">Brunei
              <option {% ifequal posts.pais  "BG" %}selected{% endifequal %} value="BG">Bulgaria
              <option {% ifequal posts.pais  "BF" %}selected{% endifequal %} value="BF">Burkina Faso
              <option {% ifequal posts.pais  "BI" %}selected{% endifequal %} value="BI">Burundi
              <option {% ifequal posts.pais  "BT" %}selected{% endifequal %} value="BT">Bután
              <option {% ifequal posts.pais  "CV" %}selected{% endifequal %} value="CV">Cabo Verde
              <option {% ifequal posts.pais  "KH" %}selected{% endifequal %} value="KH">Camboya
              <option {% ifequal posts.pais  "CM" %}selected{% endifequal %} value="CM">Camerún
              <option {% ifequal posts.pais  "CA" %}selected{% endifequal %} value="CA">Canadá
              <option {% ifequal posts.pais  "TD" %}selected{% endifequal %} value="TD">Chad
              <option {% ifequal posts.pais  "CL" %}selected{% endifequal %} value="CL">Chile
              <option {% ifequal posts.pais  "CN" %}selected{% endifequal %} value="CN">China
              <option {% ifequal posts.pais  "CY" %}selected{% endifequal %} value="CY">Chipre
              <option {% ifequal posts.pais  "VA" %}selected{% endifequal %} value="VA">Ciudad del Vaticano (Santa Sede)
              <option {% ifequal posts.pais  "CO" %}selected{% endifequal %} value="CO">Colombia
              <option {% ifequal posts.pais  "KM" %}selected{% endifequal %} value="KM">Comores
              <option {% ifequal posts.pais  "CG" %}selected{% endifequal %} value="CG">Congo
              <option {% ifequal posts.pais  "CD" %}selected{% endifequal %} value="CD">Congo, República Democrática del
              <option {% ifequal posts.pais  "KR" %}selected{% endifequal %} value="KR">Corea
              <option {% ifequal posts.pais  "KP" %}selected{% endifequal %} value="KP">Corea del Norte
              <option {% ifequal posts.pais  "CI" %}selected{% endifequal %} value="CI">Costa de Marfíl
              <option {% ifequal posts.pais  "CR" %}selected{% endifequal %} value="CR">Costa Rica
              <option {% ifequal posts.pais  "HR" %}selected{% endifequal %} value="HR">Croacia (Hrvatska)
              <option {% ifequal posts.pais  "CU" %}selected{% endifequal %} value="CU">Cuba
              <option {% ifequal posts.pais  "DK" %}selected{% endifequal %} value="DK">Dinamarca
              <option {% ifequal posts.pais  "DJ" %}selected{% endifequal %} value="DJ">Djibouti
              <option {% ifequal posts.pais  "DM" %}selected{% endifequal %} value="DM">Dominica
              <option {% ifequal posts.pais  "EC" %}selected{% endifequal %} value="EC">Ecuador
              <option {% ifequal posts.pais  "EG" %}selected{% endifequal %} value="EG">Egipto
              <option {% ifequal posts.pais  "SV" %}selected{% endifequal %} value="SV">El Salvador
              <option {% ifequal posts.pais  "AE" %}selected{% endifequal %} value="AE">Emiratos Árabes Unidos
              <option {% ifequal posts.pais  "ER" %}selected{% endifequal %} value="ER">Eritrea
              <option {% ifequal posts.pais  "SI" %}selected{% endifequal %} value="SI">Eslovenia
              <option {% ifequal posts.pais  "ES" %}selected{% endifequal %} value="ES">España
              <option {% ifequal posts.pais  "US" %}selected{% endifequal %} value="US">Estados Unidos
              <option {% ifequal posts.pais  "EE" %}selected{% endifequal %} value="EE">Estonia
              <option {% ifequal posts.pais  "ET" %}selected{% endifequal %} value="ET">Etiopía
              <option {% ifequal posts.pais  "FJ" %}selected{% endifequal %} value="FJ">Fiji
              <option {% ifequal posts.pais  "PH" %}selected{% endifequal %} value="PH">Filipinas
              <option {% ifequal posts.pais  "FI" %}selected{% endifequal %} value="FI">Finlandia
              <option {% ifequal posts.pais  "FR" %}selected{% endifequal %} value="FR">Francia
              <option {% ifequal posts.pais  "GA" %}selected{% endifequal %} value="GA">Gabón
              <option {% ifequal posts.pais  "GM" %}selected{% endifequal %} value="GM">Gambia
              <option {% ifequal posts.pais  "GE" %}selected{% endifequal %} value="GE">Georgia
              <option {% ifequal posts.pais  "GH" %}selected{% endifequal %} value="GH">Ghana
              <option {% ifequal posts.pais  "GI" %}selected{% endifequal %} value="GI">Gibraltar
              <option {% ifequal posts.pais  "GD" %}selected{% endifequal %} value="GD">Granada
              <option {% ifequal posts.pais  "GR" %}selected{% endifequal %} value="GR">Grecia
              <option {% ifequal posts.pais  "GL" %}selected{% endifequal %} value="GL">Groenlandia
              <option {% ifequal posts.pais  "GP" %}selected{% endifequal %} value="GP">Guadalupe
              <option {% ifequal posts.pais  "GU" %}selected{% endifequal %} value="GU">Guam
              <option {% ifequal posts.pais  "GT" %}selected{% endifequal %} value="GT">Guatemala
              <option {% ifequal posts.pais  "GY" %}selected{% endifequal %} value="GY">Guayana
              <option {% ifequal posts.pais  "GF" %}selected{% endifequal %} value="GF">Guayana Francesa
              <option {% ifequal posts.pais  "GN" %}selected{% endifequal %} value="GN">Guinea
              <option {% ifequal posts.pais  "GQ" %}selected{% endifequal %} value="GQ">Guinea Ecuatorial
              <option {% ifequal posts.pais  "GW" %}selected{% endifequal %} value="GW">Guinea-Bissau
              <option {% ifequal posts.pais  "HT" %}selected{% endifequal %} value="HT">Haití
              <option {% ifequal posts.pais  "HN" %}selected{% endifequal %} value="HN">Honduras
              <option {% ifequal posts.pais  "HU" %}selected{% endifequal %} value="HU">Hungría
              <option {% ifequal posts.pais  "IN" %}selected{% endifequal %} value="IN">India
              <option {% ifequal posts.pais  "ID" %}selected{% endifequal %} value="ID">Indonesia
              <option {% ifequal posts.pais  "IQ" %}selected{% endifequal %} value="IQ">Irak
              <option {% ifequal posts.pais  "IR" %}selected{% endifequal %} value="IR">Irán
              <option {% ifequal posts.pais  "IE" %}selected{% endifequal %} value="IE">Irlanda
              <option {% ifequal posts.pais  "BV" %}selected{% endifequal %} value="BV">Isla Bouvet
              <option {% ifequal posts.pais  "CX" %}selected{% endifequal %} value="CX">Isla de Christmas
              <option {% ifequal posts.pais  "IS" %}selected{% endifequal %} value="IS">Islandia
              <option {% ifequal posts.pais  "KY" %}selected{% endifequal %} value="KY">Islas Caimán
              <option {% ifequal posts.pais  "CK" %}selected{% endifequal %} value="CK">Islas Cook
              <option {% ifequal posts.pais  "CC" %}selected{% endifequal %} value="CC">Islas de Cocos o Keeling
              <option {% ifequal posts.pais  "FO" %}selected{% endifequal %} value="FO">Islas Faroe
              <option {% ifequal posts.pais  "HM" %}selected{% endifequal %} value="HM">Islas Heard y McDonald
              <option {% ifequal posts.pais  "FK" %}selected{% endifequal %} value="FK">Islas Malvinas
              <option {% ifequal posts.pais  "MP" %}selected{% endifequal %} value="MP">Islas Marianas del Norte
              <option {% ifequal posts.pais  "MH" %}selected{% endifequal %} value="MH">Islas Marshall
              <option {% ifequal posts.pais  "UM" %}selected{% endifequal %} value="UM">Islas menores de Estados Unidos
              <option {% ifequal posts.pais  "PW" %}selected{% endifequal %} value="PW">Islas Palau
              <option {% ifequal posts.pais  "SB" %}selected{% endifequal %} value="SB">Islas Salomón
              <option {% ifequal posts.pais  "SJ" %}selected{% endifequal %} value="SJ">Islas Svalbard y Jan Mayen
              <option {% ifequal posts.pais  "TK" %}selected{% endifequal %} value="TK">Islas Tokelau
              <option {% ifequal posts.pais  "TC" %}selected{% endifequal %} value="TC">Islas Turks y Caicos
              <option {% ifequal posts.pais  "VI" %}selected{% endifequal %} value="VI">Islas Vírgenes (EE.UU.)
              <option {% ifequal posts.pais  "VG" %}selected{% endifequal %} value="VG">Islas Vírgenes (Reino Unido)
              <option {% ifequal posts.pais  "WF" %}selected{% endifequal %} value="WF">Islas Wallis y Futuna
              <option {% ifequal posts.pais  "IL" %}selected{% endifequal %} value="IL">Israel
              <option {% ifequal posts.pais  "IT" %}selected{% endifequal %} value="IT">Italia
              <option {% ifequal posts.pais  "JM" %}selected{% endifequal %} value="JM">Jamaica
              <option {% ifequal posts.pais  "JP" %}selected{% endifequal %} value="JP">Japón
              <option {% ifequal posts.pais  "JO" %}selected{% endifequal %} value="JO">Jordania
              <option {% ifequal posts.pais  "KZ" %}selected{% endifequal %} value="KZ">Kazajistán
              <option {% ifequal posts.pais  "KE" %}selected{% endifequal %} value="KE">Kenia
              <option {% ifequal posts.pais  "KG" %}selected{% endifequal %} value="KG">Kirguizistán
              <option {% ifequal posts.pais  "KI" %}selected{% endifequal %} value="KI">Kiribati
              <option {% ifequal posts.pais  "KW" %}selected{% endifequal %} value="KW">Kuwait
              <option {% ifequal posts.pais  "LA" %}selected{% endifequal %} value="LA">Laos
              <option {% ifequal posts.pais  "LS" %}selected{% endifequal %} value="LS">Lesotho
              <option {% ifequal posts.pais  "LV" %}selected{% endifequal %} value="LV">Letonia
              <option {% ifequal posts.pais  "LB" %}selected{% endifequal %} value="LB">Líbano
              <option {% ifequal posts.pais  "LR" %}selected{% endifequal %} value="LR">Liberia
              <option {% ifequal posts.pais  "LY" %}selected{% endifequal %} value="LY">Libia
              <option {% ifequal posts.pais  "LI" %}selected{% endifequal %} value="LI">Liechtenstein
              <option {% ifequal posts.pais  "LT" %}selected{% endifequal %} value="LT">Lituania
              <option {% ifequal posts.pais  "LU" %}selected{% endifequal %} value="LU">Luxemburgo
              <option {% ifequal posts.pais  "MK" %}selected{% endifequal %} value="MK">Macedonia, Ex-República Yugoslava de
              <option {% ifequal posts.pais  "MG" %}selected{% endifequal %} value="MG">Madagascar
              <option {% ifequal posts.pais  "MY" %}selected{% endifequal %} value="MY">Malasia
              <option {% ifequal posts.pais  "MW" %}selected{% endifequal %} value="MW">Malawi
              <option {% ifequal posts.pais  "MV" %}selected{% endifequal %} value="MV">Maldivas
              <option {% ifequal posts.pais  "ML" %}selected{% endifequal %} value="ML">Malí
              <option {% ifequal posts.pais  "MT" %}selected{% endifequal %} value="MT">Malta
              <option {% ifequal posts.pais  "MA" %}selected{% endifequal %} value="MA">Marruecos
              <option {% ifequal posts.pais  "MQ" %}selected{% endifequal %} value="MQ">Martinica
              <option {% ifequal posts.pais  "MU" %}selected{% endifequal %} value="MU">Mauricio
              <option {% ifequal posts.pais  "MR" %}selected{% endifequal %} value="MR">Mauritania
              <option {% ifequal posts.pais  "YT" %}selected{% endifequal %} value="YT">Mayotte
              <option {% ifequal posts.pais  "MX" %}selected{% endifequal %} value="MX">México
              <option {% ifequal posts.pais  "FM" %}selected{% endifequal %} value="FM">Micronesia
              <option {% ifequal posts.pais  "MD" %}selected{% endifequal %} value="MD">Moldavia
              <option {% ifequal posts.pais  "MC" %}selected{% endifequal %} value="MC">Mónaco
              <option {% ifequal posts.pais  "MN" %}selected{% endifequal %} value="MN">Mongolia
              <option {% ifequal posts.pais  "MS" %}selected{% endifequal %} value="MS">Montserrat
              <option {% ifequal posts.pais  "MZ" %}selected{% endifequal %} value="MZ">Mozambique
              <option {% ifequal posts.pais  "NA" %}selected{% endifequal %} value="NA">Namibia
              <option {% ifequal posts.pais  "NR" %}selected{% endifequal %} value="NR">Nauru
              <option {% ifequal posts.pais  "NP" %}selected{% endifequal %} value="NP">Nepal
              <option {% ifequal posts.pais  "NI" %}selected{% endifequal %} value="NI">Nicaragua
              <option {% ifequal posts.pais  "NE" %}selected{% endifequal %} value="NE">Níger
              <option {% ifequal posts.pais  "NG" %}selected{% endifequal %} value="NG">Nigeria
              <option {% ifequal posts.pais  "NU" %}selected{% endifequal %} value="NU">Niue
              <option {% ifequal posts.pais  "NF" %}selected{% endifequal %} value="NF">Norfolk
              <option {% ifequal posts.pais  "NO" %}selected{% endifequal %} value="NO">Noruega
              <option {% ifequal posts.pais  "NC" %}selected{% endifequal %} value="NC">Nueva Caledonia
              <option {% ifequal posts.pais  "NZ" %}selected{% endifequal %} value="NZ">Nueva Zelanda
              <option {% ifequal posts.pais  "OM" %}selected{% endifequal %} value="OM">Omán
              <option {% ifequal posts.pais  "NL" %}selected{% endifequal %} value="NL">Países Bajos
              <option {% ifequal posts.pais  "PA" %}selected{% endifequal %} value="PA">Panamá
              <option {% ifequal posts.pais  "PG" %}selected{% endifequal %} value="PG">Papúa Nueva Guinea
              <option {% ifequal posts.pais  "PK" %}selected{% endifequal %} value="PK">Paquistán
              <option {% ifequal posts.pais  "PY" %}selected{% endifequal %} value="PY">Paraguay
              <option {% ifequal posts.pais  "PE" %}selected{% endifequal %} value="PE">Perú
              <option {% ifequal posts.pais  "PN" %}selected{% endifequal %} value="PN">Pitcairn
              <option {% ifequal posts.pais  "PF" %}selected{% endifequal %} value="PF">Polinesia Francesa
              <option {% ifequal posts.pais  "PL" %}selected{% endifequal %} value="PL">Polonia
              <option {% ifequal posts.pais  "PT" %}selected{% endifequal %} value="PT">Portugal
              <option {% ifequal posts.pais  "PR" %}selected{% endifequal %} value="PR">Puerto Rico
              <option {% ifequal posts.pais  "QA" %}selected{% endifequal %} value="QA">Qatar
              <option {% ifequal posts.pais  "UK" %}selected{% endifequal %} value="UK">Reino Unido
              <option {% ifequal posts.pais  "CF" %}selected{% endifequal %} value="CF">República Centroafricana
              <option {% ifequal posts.pais  "CZ" %}selected{% endifequal %} value="CZ">República Checa
              <option {% ifequal posts.pais  "ZA" %}selected{% endifequal %} value="ZA">República de Sudáfrica
              <option {% ifequal posts.pais  "DO" %}selected{% endifequal %} value="DO">República Dominicana
              <option {% ifequal posts.pais  "SK" %}selected{% endifequal %} value="SK">República Eslovaca
              <option {% ifequal posts.pais  "RE" %}selected{% endifequal %} value="RE">Reunión
              <option {% ifequal posts.pais  "RW" %}selected{% endifequal %} value="RW">Ruanda
              <option {% ifequal posts.pais  "RO" %}selected{% endifequal %} value="RO">Rumania
              <option {% ifequal posts.pais  "RU" %}selected{% endifequal %} value="RU">Rusia
              <option {% ifequal posts.pais  "EH" %}selected{% endifequal %} value="EH">Sahara Occidental
              <option {% ifequal posts.pais  "KN" %}selected{% endifequal %} value="KN">Saint Kitts y Nevis
              <option {% ifequal posts.pais  "WS" %}selected{% endifequal %} value="WS">Samoa
              <option {% ifequal posts.pais  "AS" %}selected{% endifequal %} value="AS">Samoa Americana
              <option {% ifequal posts.pais  "SM" %}selected{% endifequal %} value="SM">San Marino
              <option {% ifequal posts.pais  "VC" %}selected{% endifequal %} value="VC">San Vicente y Granadinas
              <option {% ifequal posts.pais  "SH" %}selected{% endifequal %} value="SH">Santa Helena
              <option {% ifequal posts.pais  "LC" %}selected{% endifequal %} value="LC">Santa Lucía
              <option {% ifequal posts.pais  "ST" %}selected{% endifequal %} value="ST">Santo Tomé y Príncipe
              <option {% ifequal posts.pais  "SN" %}selected{% endifequal %} value="SN">Senegal
              <option {% ifequal posts.pais  "SC" %}selected{% endifequal %} value="SC">Seychelles
              <option {% ifequal posts.pais  "SL" %}selected{% endifequal %} value="SL">Sierra Leona
              <option {% ifequal posts.pais  "SG" %}selected{% endifequal %} value="SG">Singapur
              <option {% ifequal posts.pais  "SY" %}selected{% endifequal %} value="SY">Siria
              <option {% ifequal posts.pais  "SO" %}selected{% endifequal %} value="SO">Somalia
              <option {% ifequal posts.pais  "LK" %}selected{% endifequal %} value="LK">Sri Lanka
              <option {% ifequal posts.pais  "PM" %}selected{% endifequal %} value="PM">St. Pierre y Miquelon
              <option {% ifequal posts.pais  "SZ" %}selected{% endifequal %} value="SZ">Suazilandia
              <option {% ifequal posts.pais  "SD" %}selected{% endifequal %} value="SD">Sudán
              <option {% ifequal posts.pais  "SE" %}selected{% endifequal %} value="SE">Suecia
              <option {% ifequal posts.pais  "CH" %}selected{% endifequal %} value="CH">Suiza
              <option {% ifequal posts.pais  "SR" %}selected{% endifequal %} value="SR">Surinam
              <option {% ifequal posts.pais  "TH" %}selected{% endifequal %} value="TH">Tailandia
              <option {% ifequal posts.pais  "TW" %}selected{% endifequal %} value="TW">Taiwán
              <option {% ifequal posts.pais  "TZ" %}selected{% endifequal %} value="TZ">Tanzania
              <option {% ifequal posts.pais  "TJ" %}selected{% endifequal %} value="TJ">Tayikistán
              <option {% ifequal posts.pais  "TF" %}selected{% endifequal %} value="TF">Territorios franceses del Sur
              <option {% ifequal posts.pais  "TP" %}selected{% endifequal %} value="TP">Timor Oriental
              <option {% ifequal posts.pais  "TG" %}selected{% endifequal %} value="TG">Togo
              <option {% ifequal posts.pais  "TO" %}selected{% endifequal %} value="TO">Tonga
              <option {% ifequal posts.pais  "TT" %}selected{% endifequal %} value="TT">Trinidad y Tobago
              <option {% ifequal posts.pais  "TN" %}selected{% endifequal %} value="TN">Túnez
              <option {% ifequal posts.pais  "TM" %}selected{% endifequal %} value="TM">Turkmenistán
              <option {% ifequal posts.pais  "TR" %}selected{% endifequal %} value="TR">Turquía
              <option {% ifequal posts.pais  "TV" %}selected{% endifequal %} value="TV">Tuvalu
              <option {% ifequal posts.pais  "UA" %}selected{% endifequal %} value="UA">Ucrania
              <option {% ifequal posts.pais  "UG" %}selected{% endifequal %} value="UG">Uganda
              <option {% ifequal posts.pais  "UY" %}selected{% endifequal %} value="UY">Uruguay
              <option {% ifequal posts.pais  "UZ" %}selected{% endifequal %} value="UZ">Uzbekistán
              <option {% ifequal posts.pais  "VU" %}selected{% endifequal %} value="VU">Vanuatu
              <option {% ifequal posts.pais  "VE" %}selected{% endifequal %} value="VE">Venezuela
              <option {% ifequal posts.pais  "VN" %}selected{% endifequal %} value="VN">Vietnam
              <option {% ifequal posts.pais  "YE" %}selected{% endifequal %} value="YE">Yemen
              <option {% ifequal posts.pais  "YU" %}selected{% endifequal %} value="YU">Yugoslavia
              <option {% ifequal posts.pais  "ZM" %}selected{% endifequal %} value="ZM">Zambia
              <option {% ifequal posts.pais  "ZW" %}selected{% endifequal %} value="ZW">Zimbabue
        </select>
    </div>
    <div class="form-group text-center">
        <label for=telefono1>Telefono 1</label>
        <input type=tel name=telefono1 value="{{ posts.telefono1 }}" required>
        <label for=telefono2>Telefono 2</label>
        <input type=tel name=telefono2 value="{{ posts.telefono2 }}">
        <label for=telefono3>Telefono 3</label>
        <input type=tel name=telefono3 value="{{ posts.telefono3 }}">
        <label for=telefono4>Telefono 4</label>
        <input type=tel name=telefono4 value="{{ posts.telefono4 }}">
    </div>
    <div class="form-group text-center">
        <label for=email1>Email 1</label>
        <input type=email name=email1 value="{{ posts.email1 }}" size=35>
        <label for=email2>Email 2</label>
        <input type=email name=email2 value="{{ posts.email2 }}" size=35>
        <label for=email3>Email 3</label>
        <input type=email name=email3 value="{{ posts.email3 }}" size=35>
    </div>
    <div class="form-group text-center">
        <label for=tipoEntrada>Tipo de entrada</label>
        <select name=tipoEntrada>
            <option value=PR>Proveedor
            <option value=CL>Cliente
            <option value=PA>Particular
        </select>
    </div>
    <div class="form-group text-center">
        <label for=productos>Productos</label>
        <input type=text name=productos value="{{ posts.productos }}" size=100>
    </div>
    <div class="form-group text-center">
        <label for=entrega>Entrega</label>
        <select name=entrega>
            <option value=RE>Retira
            <option value=DO>A domicilio
        </select>
        <label for=horario>Horario</label>
        <input type=text name=horario value="{{ posts.horario }}" size=20>
    </div>
    <div class="form-group text-center">
        <label for=transportes>Transportes</label>
        <input type=text name=transportes value="{{ posts.transportes }}" size=100>
    </div>
    <div class="form-group text-center">
        <label for=pago>Forma de pago</label>
        <input type=text name=pago value="{{ posts.pago }}">
    </div>
    <div class="form-group text-center">
        <label for=banco>Banco</label>
        <input type=text name=banco value="{{ posts.banco }}" size=100>
    </div>
    <div class="form-group text-center">
        <label for=cuit>CUIT / CUIL</label>
        <input type=text name=cuit value="{{ posts.cuit }}" size=50>
    </div>
    <div class="form-group text-center">
        <label for=cbu>CBU</label>
        <input type=text name=cbu value="{{ posts.cbu }}" size=50>
    </div>
    <div class="form-group text-center">
        <label for=observaciones>Observaciones</label>
        <input type=text name=observaciones value="{{ posts.observaciones }}"
            size=50>
    </div>
    </form>
{% endblock %}