{% load url from future %}
{% load staticfiles %}


{% spaceless %}
<html>
    <head>
        <link rel=stylesheet href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel=stylesheet href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        <style>
            @import url(https://fonts.googleapis.com/css?family="Ubuntu");*{font-family:"Ubuntu"}
            body,.body{
                background:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png') no-repeat center center fixed;
                background-color:transparent;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;-ms-background-size:cover;background-size:cover
            }
        </style>
        
    </head>
<body>


<h1 class="text-center">{% block titulo %}{% endblock %}</h1>


<div class='botonera'>
    {% block botones %}{% endblock %}
</div>

<div class='datos'>
    {% block datos %}{% endblock %}
</div>


<div class="footer panel-footer text-center">
    <img src="{% static "apache-icon.png" %}" width="100px" align="absmiddle">
    <img src="{% static "djangologo.png" %}" width="100px" align="absmiddle">
    <span style='margin:20px'>by marcelo.martinovic@gmail.com</span>
    <img src="{% static "Raspi_Colour_R.png" %}" height="50px" align="absmiddle">
    <img src="{% static "HTML5_Logo_256.png" %}" height="50px" align="absmiddle">
</div>


</body>
</html>

{% endspaceless %}