{% load url from future %}
{% load staticfiles %}
{% spaceless %}


<html>
    <head>
        <meta charset="utf-8"/><title>Django Colaborativo</title>
        <link rel=stylesheet href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel=stylesheet href="//bootswatch.com/slate/bootstrap.min.css">
        <link rel=stylesheet href="{% static 'css/base.css' %}" media=screen>
        <link rel="shortcut icon" href="data:image/webp;base64,UklGRqwBAABXRUJQVlA4IKABAAA0CQCdASoZABkAPmk0mk0BQEAA0AAyf1A2QrCtjI/bD1pydv2bwK6ZNNeP+R5Mvnv2Bv1T3y79AEc/fgNyVzL560Lt0Hn5rFj+NGTqXbR56kQgAP7+Yfp1S9VGOX8DtpRr2/KOGN/EwLhsvTnPotQY9XrkhTz/AyoVzh/Ur8RoVIBeQHw5Yx4GfcdBnvJfOt+KJrY4PL5Ic2a936XtgnpQqdyI0fGZi8qHdvAwMtOOmm0Yj/L1v3s97jqjz34MPrNyft02ibT/KFUkBD7v3f6NGR5c545Vu+5OtUPg2v/gUCwRWAMHz+0YebP6aBrCAdS5xP3Z7N+FxM7xVrjyNe/8naxrJisLfWxlsDTiPg5XL6S2a3OimP99aRJzxydr+LnhB4gJf2Ys2TFLCLTKeW/2c1O5z/CRyFVYdiWDrpnx+/umYLYtPctbm01M2Uoi1p1AABpA0fF7CKIyv4Nnpd/npVEhZty8QreUOWTn9zKKHkZvYO/SPx3otSF79iUZIFLM135gN87P7i8nUinw7CKSUYTeSZpUSEMNk2miRXAAAA==">
    </head>
    <body id=body class=one>
        {# fixed top menu bar #}
        {% if menu != "no" %}
            <div class="wrap" id=wrap>
                <div class="navbar-sm navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><b>Django</b></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Principal</a></li>
                        <li><a href="/agenda">Agenda</a></li>
                        <li><a href="/cliente">Cliente</a></li>
                        <li class="dropdown">
                            <a href"#" class="dropdown-toggle"
                                data-toggle="dropdown">Productos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/productos">Productos</a></li>
                                    <li><a href="#">Stock real</a></li>
                                    <li><a href="#">Categorias</a></li>
                                    <li><a href="#">Historico</a></li>
                                </ul>
                        </li>
                        <li><a href="/productos">Compras</a></li>
                        <li><a href="/agenda">Ventas</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role=search>
                        <div class="form-group input-group-sm">
                            <input type=search class="form-control" placeholder=Buscar>
                        </div>
                        <button type=submit class="btn btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout/"><button class="btn btn-sm btn-warning">Salir <span class="glyphicon glyphicon-log-out"></span></button></a>
                    </ul>
                </div>
            </div>
            <br><br><br>
        {% endif %}
        {# page content #}
        {% block titulo %}{% endblock %}
        <div class="djcontent container">
            <div class=botonera>
                {% block botones %}{% endblock %}
            </div>
            <div class="row datos center-block">
                {% block datos %}{% endblock %}
            </div>
        </div>
        {# footer #}
        <footer class="footer text-center">
          <div class="container">
              <div class=row>
                <div class="col-md-2"><button class="btn btn-default btn-sml" onclick="window.print();return false">Imprimir</button>
                </div>
                <div class="col-md-2"><button class="btn btn-default btn-sml" onclick="if(body.className == 'one'){body.className = 'two'}else{body.className = 'one'}">Skins</button>
                </div>
                <div class="col-md-2">
                    <details><summary>Info</summary><small>
                        <a href="/developers" class=credit>Desarrolladores</a><br>
                        <a href="//opensource.org/licenses/GPL-3.0" class=credit>Licencia</a><br>
                        <a href="//github.com/martinovic/mysite" class=credit>Pagina Web</a><br></small>
                    </details>
                </div>
                <div class="col-md-2"><button class="btn btn-default btn-sml" data-toggle=modal data-target="#myModal">Calculador</button>
                </div>
                <div class="col-md-2"><button class="btn btn-default btn-sml" onclick="document.documentElement.webkitRequestFullScreen()">Fullscreen</button>
                </div>
            </div>
          </div>
        </footer>


    {# modal #}
    <div class="modal fade" id=myModal tabindex="-1" role=dialog aria-labelledby=myModalLabel aria-hidden=true>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="btn btn-danger btn-sml pull-right" data-dismiss=modal aria-hidden=true>X</button>
            <h4 class="modal-title" id=myModalLabel>Calculator</h4>
          </div>
          <div class="modal-body">
            {% include "calculator/calculator.html" %}
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss=modal>Close</button>
          </div>
        </div>
      </div>
    </div>


        <script defer>function googleTranslateElementInit(){new google.translate.TranslateElement({pageLanguage:"auto"});}</script>
        <script async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        {# Off-Line Fallback for JS and CSS #}
        <script>
            window.jQuery || document.write(
                "<script src='static/js/jquery.min.js'><\/script>" +
                "<script src='static/js/bootstrap.min.js'><\/script>" +
                "<link rel=stylesheet href='static/css/bootstrap.min.css'>" +
                "<link rel=stylesheet href='static/css/slate/bootstrap.min.css'>"
            )
        </script>
    </body>
</html>
{% endspaceless %}
