{% load url from future %}
{% load staticfiles %}
{% spaceless %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
        <script src="{% static "html5aux.js" %}"></script>
    </head>
<body>
<div class='botonera'>
    <div style="float:left;"><h2 class='titulo'>{% block titulo %}{% endblock %}</h2></div>
    <div align="right">
        {% block botones %}{% endblock %}
    </div>
</div>

<div class="pie" align='center' align=>
    <img src="{% static "apache-icon.png" %}" width="100px" align="absmiddle">
    <img src="{% static "djangologo.png" %}" width="100px" align="absmiddle">
    <span style='margin:20px;'>by marcelo.martinovic@gmail.com</span>
    <img src="{% static "Raspi_Colour_R.png" %}" height="50px" align="absmiddle">
    <img src="{% static "HTML5_Logo_256.png" %}" height="50px" align="absmiddle">
</div>
<br>

<div class='datos'>
{% block datos %}{% endblock %}
</div>
</body>
</html>
{% endspaceless %}