{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block menu %}{% include "menu.html" %}{% endblock %}

{% block titulo %}Alta de datos{% endblock %}

{% block botones %}
    <form method="post" action="/agenda/save_agenda/">{% csrf_token %}
    <button type="button" onclick="javascript:window.location =('/agenda/')">
        <span class="glyphicon-arrow-left"
            title="Pantalla anterior" style="font-size:30px"></span>
    </button>
    </form>
{% endblock %}

{% block datos %}
    <div class='mensajes' align="center">
        <div class="divError">
            El registro no se pudo grabar.
        </div>
    </div>
{% endblock %}