{% load url from future %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Developers</title>
        <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "others.css" %}">
        <script src="{% static "html5aux.js" %}"></script>

    </head>
    <body>
        <div class="pie" align='center' align=>
            <img src="{% static "apache-icon.png" %}" width="100px" align="absmiddle">
            <img src="{% static "djangologo.png" %}" width="100px" align="absmiddle">
            <span style='margin:20px;'>by marcelo.martinovic@gmail.com</span>
            <img src="{% static "Raspi_Colour_R.png" %}" height="50px" align="absmiddle">
            <img src="{% static "HTML5_Logo_256.png" %}" height="50px" align="absmiddle">
        </div>
        <div>
        <table width='99%'>
            <tr>
            <td align="center">
                <img src="{% static "developers/marcelo_python.png" %}" 
                    height="100px"><br>Marcelo Martinovic<br>
                    Python, Django, Raspberry Pi
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Juan Carlos Paco<br>
                    Python, Django
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Pablo Petenello
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Diego Requejo
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Maria Gabriela P&eacute;rez
            </td>
            </tr>
            <!-- linea 2 -->
            <tr>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Will Santana
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Jorge Eduardo Gomez
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>Gaston Robledo
            </td align="center">
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>
            </td>
            <td align="center">
                <img src="{% static "developers/no_image.png" %}" 
                    height="100px"><br>
            </td>
            </tr>
        </table>
        </div>
    </body>
</html>