{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block datos %}
        <div class="row-fluid">&nbsp;</div>
        <div class="row-fluid">
            <div class="span12">

                <div class="span8 cuerpo">
                  &nbsp;
                </div>

                <div class="span3 hero-unit cuerpo">
                  <form class="form-vertical" role="form" method="post"
                            action="/validate/" style="max-width:75%">{% csrf_token %}
                    <fieldset>
                        <legend>Login</legend>
                        <label>Usuario</label>
                        <input type="text" value="" name="user"
                            class="input-large"
                            placeholder="Nombre">
                        <label>Clave</label>
                        <input type="password" value=""
                            name="password"
                            class="input-large"
                            placeholder="Clave">
                        <div class="text-center">
                            <br><br>
                            <button type="submit" class="btn btn-primary">Validar</button>
                            &nbsp;
                            <button type="reset" class="btn">Cancelar</button>
                        </div>
                    </fieldset>
                  </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}