{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block datos %}
<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form class="form-vertical text-center" role=form method=post
                action="/validate/" >
                <fieldset>
                    <div class="form-group">
                        <label for="exampleInputUser">Usuario</label>
                        <input type="text" class="form-control" id="exampleInputUser" name="user" placeholder="Nombre" required
                            >
                    </div>
                    <div class="form-group">    
                        <label for="exampleInputClave">Clave</label>
                        <input type="password" class="form-control" id="exampleInputClave" value name="password" placeholder="Clave" required >
                    </div>
                    <div class="form-group">
                        <button type=submit class="btn btn-primary">Validar</button>
                        &nbsp;
                        <button type=reset class="btn btn-warning">Cancelar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}