{% load url from future %}
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "others.css" %}">
        <script src="{% static "html5aux.js" %}"></script>
        
    </head>
<body>
<div class="pie" align='center' align=>
    <img src="{% static "apache-icon.png" %}" width="100px" align="absmiddle">
    <img src="{% static "djangologo.png" %}" width="100px" align="absmiddle">
    <span style='margin:20px;'>by marcelo.martinovic@gmail.com</span>
    <img src="{% static "Raspi_Colour_R.png" %}" height="50px" align="absmiddle">
    <img src="{% static "HTML5_Logo_256.png" %}" height="50px" align="absmiddle">
</div>
<div align="center"
<h1>
Pagina en desarrollo...<br><br><br>
...para regresar <a href='/login/'>pulse aqui.</a>
</h1>
</div>
</body>
</html>